<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Author Show
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    </head>
    <body>
        <div class="contenedor2">
            <div class="box">
                <h1 class="blue-T">
                    Favoritos de
                </h1>
                <table>
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th># de páginas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in listaAutorLibros %}
                            <tr>
                                <td>{{libro["title"]}}</td>
                                <td>{{libro["num_of_pages"]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form action="/authors" method="GET">
                    <button type="submit" class="link blue-T">
                        Home
                    </button>
                </form>
            </div>
            <div class="box">
                <h1 class="blue-T">
                    Añadir favorito a
                </h1>
                <div class="column">
                    <form action="/author/{{var}}/add" method="POST">
                        <div class="sub">
                            <label for="book_id">
                                Libro:
                            </label>
                            <select id="book_id" name="book_id" required>
                                <option value="">-- Selecciona un libro --</option>-->
                                {% for libro in listaLibros %}
                                    <option value="{{libro['id']}}">{{libro['title']}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn green-B">
                            Añadir
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>